.footer{
  background-color: #333;
  color: $branco;
  margin-top: 1.5rem;
  font-size: 1rem;
  .texto-footer-1,.texto-footer-2{
    padding: 2rem 0;
  }
  .texto-footer-2{
    text-align: right;
  }
}
